<%= form_for(@catwalk, :html => { :multipart => true }) do |f| %>
  <% if @catwalk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catwalk.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @catwalk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script type="text/javascript">
window.onload = function() {
  document.getElementById('post_title').focus();
}
</script>



  <div class="field">
   
    <%= f.file_field :catpic %>
  </div> 

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
