<%= form_for(@catwalk, :html => { :multipart => true }) do |f| %>
  <% if @catwalk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catwalk.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @catwalk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
   
    <%= f.file_field :catpic %>
  </div> 
  <br/>
  <div class="field">
    <%= f.label :catname %>
    <%= f.text_field :catname %>
  </div>
 <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
