<%# Upload the cats using Fancbox form      %>
<div class="catwalklinks">
 <a id="uploadcat" href="http://high-robot-603.heroku.com/catwalks/new"> Upload Cat </a>
 <%= link_to "Your cats", yourcats_path %>
 <%= link_to "Favorites", favorites_path %>
</div>


<%# Logic for Fancybox form  %>	
	<div style="display: none;">
			<div id="upload_cat" style="width:200px;height:100px;overflow:auto;">
			
			</div>
	</div>

<% # Logic for displaying cats for voting in 4 column format %>

<div class="apple_pagination">
<%= will_paginate @catwalks, :container => false %>
</div>

<div class="three-col">


<% @catwalks.each do|catwalk| %>


<% if (current_user.voted_on?(catwalk))  %>
<div class="onesec-hor-upper">
<div class="onesec-hor">
<%= link_to (image_tag (catwalk.catpic.url)), catwalk.catpic.url %>

<h2> </h2>
<% if current_user.voted_on?(catwalk) %>
<div class="liked">
<%= link_to "like",voteup_path(:id => catwalk.id), :remote => true  %>
</div>
<% else %>
<div id="like<%=catwalk.id%>" class="like">
 <%= link_to 'Like!', voteup_path(:id => catwalk.id), :remote => true  %>
</div>

<% end %>
<h3><div id="votecount<%=catwalk.id %>"> <%=catwalk.votes_for %>  </div> </h3>

<h1>Name of Cat: <%= catwalk.catname %></h1>
<% displayname= (catwalk.user).name.split[0] + " " + (catwalk.user).name.split[1][0] + "." %>
<h2>Posted by <%= displayname %> </h2>

</div>
</div>
<% end %>

<% end %>




<div class="apple_pagination">
<%= will_paginate @catwalks, :container => false %>
</div>