<% # Logic for displaying cats for voting in 4 column format %>

<div class="apple_pagination">
<%= # will_paginate @catwalks, :container => false %>
</div>

<div class="three-col">


<% @catwalks.each do|catwalk| %>


<% if (current_user.voted_on?(catwalk)) && (catwalk.id >= 17) %>
<div class="onesec-hor">
<%= image_tag catwalk.catpic.url%>
<h1>Name of Cat: <%= catwalk.catname %></h1>
<h2>Posted by <%= (catwalk.user).name %> </h2>

<% if current_user.voted_on?(catwalk) %>
<div class="liked">
<%= link_to 'Like!', voteup_path(:id => catwalk.id), :remote => true  %>
</div>
<% else %>
<div class="like">
<%= link_to 'Like!', voteup_path(:id => catwalk.id), :remote => true  %>
</div>
<% end %>
<h3><div id="votecount<%=catwalk.id %>"> <%=catwalk.votes_for %>  </div> </h3>

</div>
<% end %>

<% end %>


</div>

<div class="apple_pagination">
<%= # will_paginate @catwalks, :container => false %>
</div>