
<div class="three-col">


<% @catwalks.each do|catwalk| %>


<% if catwalk.id >= 17 %>
<div id="onesec-hor">
<%= image_tag catwalk.catpic.url, :height => '300'%>

<br>

<p> Posted by <%= (catwalk.user).name %> </p>
<%= link_to 'vote for this post!', voteup_path(:id => catwalk.id), :remote => true  %>
<div id="votecount<%=catwalk.id %>"> <%=catwalk.votes_for %>  </div>

</div>
<% end %>

<% end %>


</div>