
<div class="three-col">


<% @catwalks.each do|catwalk| %>


<% if catwalk.id >= 17 %>
<div class="onesec-hor">
<%= image_tag catwalk.catpic.url%>
<h1>Name of Cat </h1>
<h2>Posted by <%= (catwalk.user).name %> </h2>
<%= link_to 'Like!', voteup_path(:id => catwalk.id), :remote => true  %>
<div id="votecount<%=catwalk.id %>"> <%=catwalk.votes_for %>  </div> 

</div>
<% end %>

<% end %>


</div>