<h1>Catwalks#show</h1>

	<p id="notice"><%= notice %></p>



	<p>
	  <b>Name:</b>
	  <%= @catwalk.catname %>
	</p>



	<%= image_tag @catwalk.catpic.url %>



	<%= link_to 'Edit', edit_catwalk_path(@catwalk) %> |
	<%= link_to 'Back', catwalks_path %>

