<h1>Catwalks#show</h1>

	<p id="notice"><%= notice %></p>



	<p>
	  <b>Name:</b>
	  <%= @catwalk.name %>
	</p>



	<%= image_tag @post.catpic.url %>



	<%= link_to 'Edit', edit_catwalk_path(@post) %> |
	<%= link_to 'Back', catwalks_path %>

