

<%# Logic for Fancybox form  %>	
	<div style="display: none;">
			<div id="upload_cat" style="width:200px;height:100px;overflow:auto;">
			
			</div>
	</div>	
	


	<div class="three-col">
	<%# Upload the cats using Fancbox form      %>
	<div class="catwalklinks">
	 <a id="uploadcat" href="http://catsinyourhats.com/catwalks/new"> Upload Cat </a>
	 <%= link_to "Favorites", favorites_path %>
	 <%= link_to "All Catwalks", catwalks_path %>
	</div>
		<% # Logic for displaying cats for voting in 4 column format %>

	<div class="apple_pagination">
		<%=  will_paginate @catwalks, :container => false %>
		</div>

	<% @catwalks.each do|catwalk| %>


<% if (catwalk.user_id == current_user.id) %>

<div class="onesec-hor-upper">
<div class="onesec-hor">
<div class="single-grid">
<div class="single-img">
<%= link_to (image_tag (catwalk.catpic.url(:thumb))), catwalk.catpic.url %>
</div>
</div>

<% if current_user.voted_on?(catwalk) %>
<div class="liked">
<%= link_to "like",voteup_path(:id => catwalk.id), :remote => true  %>
</div>
<% else %>
<div id="like<%=catwalk.id%>" class="like">
 <%= link_to 'Like!', voteup_path(:id => catwalk.id), :remote => true  %>
</div>

<% end %>
<h3><div id="votecount<%=catwalk.id %>"> <%=catwalk.votes_for %>  </div> </h3>

<h1>Name of Cat: <%= catwalk.catname %></h1>
<% displayname= (catwalk.user).name.split[0] + " " + (catwalk.user).name.split[1][0] + "." %>
<h2>Posted by <%= displayname %> </h2>

</div>
</div>

<% end %>

<% end %>
</div>

<div id="blank"> <p> </p> </div>

<div class="apple_pagination">
<%=  will_paginate @catwalks, :container => false %>
</div>