
<div id ="cat1" class="cat"> <img src="/images/cat1.gif"> </div>
<div id ="cat2" class="cat"> <img src="/images/cat2.gif"> </div>
<div id ="cat3" class="cat"> <img src="/images/cat3.gif"> </div>
<div id ="cat4" class="cat"> <img src="/images/cat4.gif"> </div>
<div id ="cat5" class="cat"> <img src="/images/cat5.gif"> </div>
<div id ="cat6" class="cat"> <img src="/images/cat6.gif"> </div>
<div id ="hat1" class="cat"> <img src="/images/hat1.gif"> </div>
<div id ="hat2" class="cat"> <img src="/images/hat2.gif"> </div>
<div id ="hat3" class="cat"> <img src="/images/hat3.gif"> </div>
<div id ="hat4" class="cat"> <img src="/images/hat4.gif"> </div>
<div id ="hat5" class="cat"> <img src="/images/hat5.gif"> </div>
<div id ="hat6" class="cat"> <img src="/images/hat6.gif"> </div>

<%= javascript_include_tag "all.js" %>
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />


<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

            	<div id="carousel" class="rcarousel">
							<div id="wrapper" style="width: 300px; overflow: hidden; height: 100px;" class="wrapper">
			<ul>
			<li style="width: 134px; height: 80px; margin-bottom: 0px; float: none;"><img src="/images/Courtyard-sized.jpg"  height="80px"></li>
			<li style="width: 134px; height: 80px; margin-bottom: 0px; float: none;"><img src="/images/Hall-sized.png"   height="80px"></li>
			<li style="width: 134px; height: 80px; margin-bottom: 0px; float: none;"><img src="/images/Courtyard-sized.jpg"  height="80px"></li>
			</ul>
							</div>
							<a href="#" id="ui-rcarousel-next"><img src="/images/go-next.png"></a>
							<a href="#" id="ui-rcarousel-prev"><img src="/images/go-previous.png"></a>
						</div>


               <div class="background">
                      <div id="droppable" style="float:left"> <img src="/images/catsback.png" alt=""/> </div>
                      <div id="couch" style="float:left"> <img src="/images/couch.png" alt=""/> </div
                       </div>

				
							
               <div class="sharelink">
     
      
    
    <%= f.submit "Share" %>
  </div>

            

	


<% end %>
	


 
