



<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id ="cat1" class="cat"> <img src="/images/cat1.gif"> </div>
<div id ="cat2" class="cat"> <img src="/images/cat2.gif"> </div>
<div id ="cat3" class="cat"> <img src="/images/cat3.gif"> </div>
<div id ="cat4" class="cat"> <img src="/images/cat4.gif"> </div>
<div id ="cat5" class="cat"> <img src="/images/cat5.gif"> </div>
<div id ="cat6" class="cat"> <img src="/images/cat6.gif"> </div>
<div id ="hat1" class="cat"> <img src="/images/hat1.gif"> </div>
<div id ="hat2" class="cat"> <img src="/images/hat2.gif"> </div>
<div id ="hat3" class="cat"> <img src="/images/hat3.gif"> </div>
<div id ="hat4" class="cat"> <img src="/images/hat4.gif"> </div>
<div id ="hat5" class="cat"> <img src="/images/hat5.gif"> </div>
<div id ="hat6" class="cat"> <img src="/images/hat6.gif"> </div>
<div id="inst1"> <img src="/images/choose_bckg.png"></div>
<div id="inst2"> <img src="/images/move_cat.png"></div> 
 <div id="inst3"> <img src="/images/give_hats.png"></div>
 <div id="inst4"> <img src="/images/resize_talk.png"></div>

<%= javascript_include_tag "all.js" %>
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

  	<div id="carousel" class="rcarousel">
					<div id="wrapper" style="width: 510px; overflow: hidden; height: 100px;" class="wrapper">
	<ul>
	<li style="margin-bottom: 0px; float: none;"><img src="/images/small-athens-sized.jpg"></li>
	<li style="margin-bottom: 0px; float: none;"><img src="/images/small-beach1-sized.jpg"></li>
	<li style="margin-bottom: 0px; float: none;"><img src="/images/small-cafe-sized.jpg"></li>
	<li style="margin-bottom: 0px; float: none;"><img src="/images/small-camel-sized.jpg"></li>
	<li style="margin-bottom: 0px; float: none;"><img src="/images/small-courtyard-sized.jpg"></li>
	<li style="margin-bottom: 0px; float: none;"><img src="/images/small-egypt-sized.jpg"></li>
	<li style="margin-bottom: 0px; float: none;"><img src="/images/small-hall-sized.jpg"></li>
	<li style="margin-bottom: 0px; float: none;"><img src="/images/small-kyoto1-sized.jpg"></li>
	<li style="margin-bottom: 0px; float: none;"><img src="/images/small-sf-sized.jpg"></li>
	
	</ul>
					</div>
					<a href="#" id="ui-rcarousel-next"><img src="/images/go-next.png"></a>
					<a href="#" id="ui-rcarousel-prev"><img src="/images/go-previous.png"></a>
				</div>



               <div class="background" id="background1">
                      <div id="droppable" style="float:left"> <img src="/images/athens-sized.jpg" alt=""/> </div>
                      <div id="couch" style="float:left"> <img src="/images/couch.png" alt=""/> </div>
                       </div>

				
							
               
             <%= f.submit "Share", :class =>"submitlink" %>
              

            

	


<% end %>
	


 
