<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({effect:'slideInLeft', pauseTime: 5000});
});
</script>
  
<div class="content">


         <div class="slider-wrapper theme-default">
         <div class="ribbon"> </div>


<%# Start of the slider %>
            <div id="slider" class="nivoSlider">

      <%# Comment1: First image linked to Cats in Hats game %>
		<% if current_user %>
		   <%= link_to image_tag("/images/slider.jpg"), new_post_path %> 
         <%  else %>    
         <a id="various4" href="#signin4" title=""> <img src="/images/slider.jpg" alt="" /></a> 
        
       <% end %>
                
         <%# Comment2: Second image linked to Catwalks voting %>    	
                  <%  if current_user %>
				   <%=  link_to image_tag("/images/slider1.jpg"), catwalks_path %> 
		           <%  else %>    
                   <a id="various3" href="#signin3" title=""> <img src="/images/slider1.jpg" alt="" /></a> 
               
                 <% end %>

             	<%# Comment3: Link to the blog %>    	
		                  
						   <%= link_to image_tag("/images/slider2.jpg"), "http://catsinyourhats.tumblr.com" %> 
				           

            </div>
         	
 
          </div>
  </div>      
    
<%# The divs for fancybox popup after clicking slider img is kept outside. If its included with slider div, images appear twice %>

               <div style="display: none;">
					<div id="signin4" style="width: 200px; height: 100px;overflow: auto; text-align: center;line-height: 2.5em;">
			       Please sign into Facebook
						<%= link_to "Sign in using Facebook", "/auth/facebook?redirect_to=/posts/new" %>

					</div>
			</div>
   	
			   <div style="display: none;">
						<div id="signin3" style="width: 200px; height: 100px;overflow: auto; text-align: center;line-height: 2.5em;">
				        Please sign into Facebook
							<%= link_to "Sign in using Facebook", "/auth/facebook?redirect_to=/catwalks" %>

						</div>
				</div>





