<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= javascript_include_tag "application.js" %>
   <%= javascript_include_tag :defaults %>
 
  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" %>
   <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" %>
   <%= javascript_include_tag "jquery.ui.tough-punch.min.js" %>
http://high-robot-603.heroku.com/images/cat3.gif
<style>
  #cat1 { width: 1px; background: transparent; text-align:center; float:left}
  #cat2 { width: 1px; background: transparent; text-align:center; float:left}
  #cat3 { width: 1px; background: transparent; text-align:center; float:left}
  #hat1 { width: 1px; background: transparent; text-align:center; float:left}
  #hat2 { width: 1px; background: transparent; text-align:center; float:left}
  #hat3 { width: 1px; background: transparent; text-align:center; float:left}
</style>

  <%= csrf_meta_tag %>
</head>
<body>
<%= flash[:notice] %>

<% if current_user %>
    Welcome, <%= current_user.name %>!
  <%= current_user.token %>
<%= link_to "Sign out", signout_path %>
  <% else %>
 
<%= link_to "Sign in with Twitter", "/auth/twitter" %>
<%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>


<%= yield %>

</body>
</html>

