<!DOCTYPE html>
<html>
<head>
  <title>Cats in Your Hats</title>

<%= stylesheet_link_tag "stylecats", "jquery.fancybox-1.3.4", "nivoslider-default", "nivo-slider", "rcarousel", :cache => true %>

<div id ="cat1" class="cat"> <img src="/images/cat1.gif"> </div>
<div id ="cat2" class="cat"> <img src="/images/cat2.gif"> </div>
<div id ="cat3" class="cat"> <img src="/images/cat3.gif"> </div>
<div id ="cat4" class="cat"> <img src="/images/cat4.gif"> </div>
<div id ="cat5" class="cat"> <img src="/images/cat5.gif"> </div>
<div id ="cat6" class="cat"> <img src="/images/cat6.gif"> </div>
<div id ="hat1" class="cat"> <img src="/images/hat1.gif"> </div>
<div id ="hat2" class="cat"> <img src="/images/hat2.gif"> </div>
<div id ="hat3" class="cat"> <img src="/images/hat3.gif"> </div>
<div id ="hat4" class="cat"> <img src="/images/hat4.gif"> </div>
<div id ="hat5" class="cat"> <img src="/images/hat5.gif"> </div>
<div id ="hat6" class="cat"> <img src="/images/hat6.gif"> </div>

<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

  <%= javascript_include_tag :defaults, "jquery.rails.js", "jquery.fancybox-1.3.4.pack.js", "jquery.nivo.slider.pack.js","jquery.ui.tough-punch.min.js","jquery.ui.rcarousel.min.js", :cache => true%>
  <%= csrf_meta_tag %>
</head>
<body>




<div class="top-color"> 
<div class="solid"> 
<div class="top-point"> 
<div class="signin"> 
<% if current_user %>
    Welcome, <%= current_user.name %>!
  
<%= link_to "Sign out", signout_path %>
  <% else %>
 

<%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>
</div>
<div class="top-header">



<div class="header">
     
 <img src="/images/logo.png" alt=""/>
   
   <div class="nav">
    
     	<% if current_user %>
		   <%= link_to "Put hats on cat", new_post_path %>
        <% else %>
 	<a id="various1" href="#signin" title="">Put hats on cats </a></li>
  	<div style="display: none;">
				<div id="signin" style="width: 200px; height: 100px;overflow: auto; text-align: center;line-height: 2.5em;">
		        Please sign into facebook.
					<%= link_to "Sign in to Facebook", "/auth/facebook?redirect_to=/posts/new" %>
						
				</div>
            </div> 
		 <% end %>
		
	<% if current_user %>
	   <%= link_to 'Cat Walk', catwalks_path %>
	  <% else %>
	<a id="various2" href="#signin2" title="">Cat Walk </a></li>
	<div style="display: none;">
			<div id="signin2" style="width: 200px; height: 100px;overflow: auto; text-align: center;line-height: 2.5em;">
	        Please sign into facebook.
				<%= link_to "Sign in to Facebook", "/auth/facebook?redirect_to=/catwalks" %>
				
			</div>
	</div>
       <% end %>    
           <a href="#">Chuckles</a>
           <a href="#">Shop</a>
           <%= link_to "About", page_path("about")%>
		  </div>
</div>
 </div></div>
</div></div></div></div>



<%= yield %>
<div class= "enclose">
</div>
<div class="footer">
<p>© Happy Kids, LLC & Melissa Kelly Designs , San Francisco, CA</p>


<p><a href="#"><img src="/images/facebook.png" alt=""/></a> <a href="#"><img src="/images/twitter.png" alt=""/></a></p>
<div class="solid-footer"> 
<div class="top-point-footer"> 
</div></div>
</div>


</body>

</html>

