<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "stylecats", "jquery.fancybox-1.3.4", "nivoslider-default", "nivo-slider" %>
  <%= javascript_include_tag :defaults %> 
  <%= javascript_include_tag "jquery.rails.js"%>
  <%= javascript_include_tag "jquery.fancybox-1.3.4.pack.js"%>
 <%= javascript_include_tag "jquery.nivo.slider.pack.js" %>
  <%= javascript_include_tag "jquery.ui.tough-punch.min.js" %>

	




  <%= csrf_meta_tag %>
</head>
<body>


<div class="header">
        <a href="http://high-robot-603.heroku.com">   <img src="/images/header.png" border="0" alt=""/> </a>
           </div>
   <div class="links">
    
     	<% if current_user %>
		   <%= link_to "Put hats on cat", new_post_path %>
        <% else %>
 	<a id="various1" href="#signin" title="">Put hats on cats </a></li>
  	<div style="display: none;">
				<div id="signin" style="width:200px;height:100px;overflow:auto;">
		        Please sign into facebook.
					<%= link_to "Sign in to Facebook", "/auth/facebook?redirect_to=/posts/new" %>
						
				</div>
            </div> 
		 <% end %>
		
	<% if current_user %>
	   <%= link_to 'Cat Walk', catwalks_path %>
	  <% else %>
	<a id="various2" href="#signin2" title="">Cat Walk </a></li>
	<div style="display: none;">
			<div id="signin2" style="width:200px;height:100px;overflow:auto;">
	        Please sign into facebook.
				<%= link_to "Sign in to Facebook", "/auth/facebook?redirect_to=/catwalks" %>
				
			</div>
	</div>
       <% end %>    
           <a href="#">Chuckles</a>
           <a href="#">Shop</a>
           <%= link_to "About", page_path("about")%>
		  </div>

<div class="userinfo_upper">
<div class= "userinfo">
<% if current_user %>
    Welcome, <%= current_user.name %>!
  
<%= link_to "Sign out", signout_path %>
  <% else %>
 

<%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>

</div>
</div>
<%= yield %>

</body>

</html>

